- if object.errors.any?
  #error_explanation
    %h2
      Wait a minute! You have 
      = pluralize(object.errors.count, "error")
      that you need to fix
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
