#share_buttons
  %a(href='href="https://twitter.com/share' class='twitter-share-button' data-url='http://bit.ly/tOQOcb' data-count='horizontal' data-text='Guess the name of the next hot startup to get early access before it launches!' data-count='horizontal' data-counturl='http://www.guessmystartup.com' data-via='GuessmyStartup') Tweet
  .fb-like(data-href='http://www.guessmystartup.com/' data-send='true' data-layout='button_count' data-width='50' data-show-faces='false')
  .g-plusone(data-size='medium' data-href='http://www.guessmystartup.com/')
  %script(type='text/javascript' src='https://apis.google.com/js/plusone.js')
  %script(type='text/javascript' src='//platform.twitter.com/widgets.js')
  %script(type='text/javascript')
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27188219-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  %script(type='text/javascript')
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=121871154591526";
    fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));
