%h2= @top_guesses_heading
%ul
  - @top_guesses.each_with_index do |g, i|
    %li
      %p
        %strong(style='height:#{@top_guesses_percents[i]}px') #{@top_guesses_percents[i].to_i}%
      %h3= g.character
