#contact
  %h4 Contact Us
  %h5 Launch your startup with us!
  %p 
    If you're interested in using 
    %a(href='http://guessmystartup.com')  guessmystartup.com 
    as a platform for launching your own startup, contact us at
    %a(href='mailto:info@guessmystartup.com') info@guessmystartup.com.
  %h5 Questions and Concerns?
  %p 
    Don't hesitate to send us an e-mail at
    %a(href='mailto:info@guessmystartup.com') info@guessmystartup.com.
  %a(href='#logo') back to top
