%ul
  %li
    %a(href='https://www.facebook.com/pages/Guess-my-Startup/100138806770168' target='_blank') Like us on Facebook
  %li
    %a(href='http://twitter.com/GuessmyStartup' target='_blank') Follow us on Twitter
  %li
    %a(href='#privacy') Privacy Policy
  %li
    %a(href='#contact') Contact Us
